.app-layout {
    -fx-background: rgb(10, 12, 12);
}

.sidemenu {
    -fx-background-image: url("/images/stars.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.bg-image {
    -fx-background-image: url("/images/stars.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;

}

.home-title {
    -fx-text-fill: white;
}

.sidemenu-nav-btn {
    -fx-border-width: 0 10 0 10px;
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-max-width: 350px;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

.sidemenu-nav-btn.button {
    -fx-alignment: center-left;
}

.sidemenu-nav-btn:hover {
    -fx-background-color: rgb(100, 100, 100, 0.3);
}

.sidemenu-nav-btn.active {
    -fx-background-color: rgb(100, 100, 100, 0.1);
    -fx-border-color: #2c83c7;
}

.sidemenu-nav-btn .material-design-icon-view {
    -fx-fill: white;
}



.user-pane {
    -fx-background-color: #2c83c7;
}

.logout-btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.logout-icon {
    -fx-fill: white;
}

.logout-btn:hover {
    -fx-background-radius: 10px;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}